.logo-img {
    max-width: 500px;
    height: auto;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

  .navbar {
      width: 100%;
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 0;
  }


